nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 5px;
    border-bottom: 2px solid #686666;
    width: 100%;
    z-index: 1000;
}

.foto_perfil {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 1.5px;
    border: 2px solid black;
}